.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #ecedf0;
  width: 100%;
  padding: 1rem 0 1rem 0;
  background-color: #fff;
}

.header-container h3 {
  color: #4f4646;
  font-size: 1rem;
}

.header-container p {
  color: #7c7ea6;
  font-size: 0.9rem;
  font-weight: 500;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  height: 100vh;
}

.body-container_content {
  background-color: #fff;
  padding: 20px;
  width: 30rem;
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  height: max-content;
}

.body-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #edeef1;
  border-radius: 3px;
  padding: 10px;
  flex-wrap: wrap;
  width: 96%;
  cursor: pointer;
}

.option-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.option-content img {
  width: 2.5rem;
}

.option-content h3 {
  font-weight: 500;
  font-size: 1rem;
  color: #45454d;
}

.arrow {
  color: #999999;
}

.body-info {
  background-color: #fff;
  width: 30rem;
  text-align: center;
  padding: 20px;
  border-radius: 3px;
  color: #777;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.body-info span {
  color: #42a4ff;
}

@media screen and (max-width: 526px) {
  .body-container_content {
    width: 80%;
  }

  .body-info {
    width: 80%;
  }
}

.footer-container {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 3px;
}
.footer-content h4 {
  color: #4e4e57;
  font-weight: 500;
}

.footer-content img {
  width: 70px;
}

.hidden {
  display: none;
}

.reset-button {
  position: absolute;
  bottom: 5%;
  right: 3%;
  outline: none;
  border: none;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  z-index: 99;
  color: #333;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}


