body,
html {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header,
p,
h4 {
  margin: 0;
  padding: 0;
}
.header,
h4 {
  margin-top: 5px;
  color: rgb(70, 71, 71);
}
.header,
p {
  margin-bottom: 5px;
  color: rgb(126, 128, 128);
}
.body {
  background-color: rgb(238, 240, 241);
  min-height: 85vh;
  display: flex;
  flex-direction: column;
}
.list {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 15px;
  width: 450px;
  height: auto;
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.list-item {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
  flex-wrap: wrap;
}
.list-item-container:first-child {
  margin-top: 24px;
}

.list-item-container:last-child {
  margin-bottom: 24px;
}
.list-item-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-left: 5px;
}
.right-arrow {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 5px;
}

.list-item-name {
  margin-left: 10px;
  flex-grow: 1;
}
.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.phone-number {
  text-decoration: none;
  color: rgb(78, 152, 212);
}
.contact-info {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  width: 420px;
  padding: 15px;
  margin-bottom: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 10px;
  width: 100%;
  margin-top: auto;
}
.footer,
p {
  margin: 5px;
}
.footer-logo {
  height: 20px;
  width: auto;
  object-fit: contain;
  margin: 5px;
}

.description-title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.description-text {
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.left-arrow {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.title-and-back {
  display: flex;
  align-items: center;
}
.title-container {
  flex-grow: 1;
  text-align: center;
}
